.filmsBlock {
    border: 1px solid $decor_color;
    padding: 20px;
    height: 950px;
    width: 1200px;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 250px));
    grid-template-rows: repeat(3, 450px);
    grid-auto-rows: 450px;
    gap: 20px;
    overflow-y: scroll;
}

.loadData {
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    opacity: 0.6;
    top: 0;
    left: 0;
}
