.filmsBlock {
    border-radius: 10px;
    border: none;
    display: grid;
    grid-template-rows: repeat(3, 450px);
    grid-template-columns: repeat(4, 285px);
    grid-auto-rows: 450px;
    gap: 20px;
    overflow: scroll;
    height: 950px;
}

.loadData {
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    opacity: 0.6;
    top: 0;
    left: 0;
}
