.filmsBlock {
    padding: 20px;
    height: 950px;
    width: 1200px;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 250px));
    grid-template-rows: repeat(3, 450px);
    grid-auto-rows: 450px;
    gap: 20px;
    box-shadow: 0px 0px 20px 0px $text_hover_color;
    overflow-y: scroll;
}

.loadData {
    z-index: 100;
    opacity: 0.8;
    background-color: #fff;
    justify-content: end;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50px;
    right: 150px;
    width: 1200px;
    height: 950px;
}
