@media (max-width: 1700px) {
    .movie__info {
        width: 1200px;
    }
}

@media (max-width: 1500px) {
    .movie__info {
        width: 992px;
    }
}

@media (max-width: 1300px) {
    .movie__info {
        width: 600px;
    }
}

@media (max-width: 1200px) {
    .movie__poster {
        width: 280px;
        height: 400px;
    }
    .movie__info {
        font-size: 12px;
    }
    .movie__info_name {
        font-size: 20px;
    }
    .movie__info_descr {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .movie__poster {
        width: 280px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .movie {
        flex-direction: column;
        padding: 20px 15px;
        gap: 20px;
        min-height: 200px;
    }
    .movie__info {
        width: 400px;
        margin: 0 auto;
    }
    .movie__poster {
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .movie__info {
        width: 300px;
    }
}
