@media (max-width: 1620px) {
    .wrapperFilms {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 100px;
    }
}

@media (max-width: 1100px) {
    .wrapperFilms {
        padding: 0 10px;
    }
}
